@import './style/variables';

* {
  margin: 0;
  padding: 0;
}

.App {
  background: linear-gradient(106.37deg, #ffe1bc 29.63%, #ffcfd1 51.55%, #f3c6f1 90.85%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .AppGlass {
    display: grid;
    height: 97vh;
    width: 97vw;
    border-radius: 2rem;
    background-color: $glass;
    overflow: hidden;
    grid-template-columns: 11rem 1fr 20rem;
    gap: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .App {
    .AppGlass {
      grid-template-columns: 10% 50% auto;
      overflow-y: scroll  ;
    }
  }
}

@media screen and (max-width: 768px) {
  .App {
    .AppGlass {
      grid-template-columns: 1fr;

      &::-webkit-scrollbar{
        display: none;
      }
    }
  }
}